@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  font-family: 'Open Sans', sans-serif;
  color: #073b4b;
  text-align: center;
  postion: relative;
}
header {
  height: 90px;
  -webkit-box-shadow: 0px 2px 15px #9bb1b7;
  box-shadow: 0px 2px 15px #9bb1b7;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
header .container .nav-wrapper {
  margin-top: 2em;
}
header .container .nav-wrapper .main-button {
  float: right;
}
header .container .nav-wrapper .main-button a {
  background: #d41e4a;
}
section.hero {
  background-image: url("../img/ubg.svg");
  -webkit-background-size: 150%;
  -moz-background-size: 150%;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: 0px bottom;
}
section.hero .container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  alig-items: center;
  height: 95vh;
}
section.hero .container .slogan {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
}
section.hero .container div.title-box-lg {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  alig-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
section.hero .container div.title-box-lg span.title-size {
  font-size: 2.5em !important;
}
section.hero .container div.main-button a {
  background: #d41e4a;
}
.features {
  width: 100%;
  color: #fff;
  position: relative;
  background: #073b4b;
}
.features .features_title .container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-bottom: 3em;
  padding-top: 2em;
}
.features .features_title .container p {
  font-size: 2em;
  position: relative;
}
.features .features_title .container p:after {
  position: absolute;
  content: "";
  bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  left: 70%;
  right: 0;
  width: 30%;
  background-color: #286071;
  height: 3px;
}
.features .container .text {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.features:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: #073b4b;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -o-transform: skewY(3deg);
  -ms-transform: skewY(3deg);
  transform: skewY(3deg);
}
.features:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: #073b4b;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  transform: skewY(-3deg);
}
.services {
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 5em 0;
}
.services .service-list ul li {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  text-align: left;
}
.services .service-list ul li img {
  padding-right: 2em;
}
.services .service-list ul li h5 span {
  font-size: 0.6em;
}
.services .underline {
  position: relative;
  margin-bottom: 2em;
}
.services .underline:after {
  position: absolute;
  content: "";
  bottom: -20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 30%;
  background-color: #e9004c;
  height: 5px;
}
.map {
  background: #f00;
  height: 40vh;
}
.footer {
  background: #ecf0f1;
  text-align: left;
  padding-bottom: 2em;
  padding-top: 2em;
}
.footer .flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
@media (min-width: 768px) {
  section.hero {
    -webkit-background-size: 80%;
    -moz-background-size: 80%;
    background-size: 80%;
    background-position: 190% bottom;
  }
  .features .imglg img {
    width: 70%;
  }
  .footer .flex {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
  }
  .footer .flex >div {
    width: 50%;
  }
  .services .service-list {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .container div.title-box-lg {
    -webkit-box-align: start;
    -moz-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .container div.title-box-lg span.title-size {
    font-size: 2.5em !important;
  }
}
@media (min-width: 1200px) {
  section.hero {
    -webkit-background-size: 60%;
    -moz-background-size: 60%;
    background-size: 60%;
    background-position: 120% bottom;
  }
}
