section.footer
	div.container
		div.flex2
			div.brand-logo1
				img(src="img/lLOGO BOUS FINAL.svg" style="width:8em")
				div(style="margin-top:1em; margin-bottom:1em")
				
include ../mobile-menu/index.jade
include ../header-small/index.jade

script(src='https://use.fontawesome.com/d92b21401b.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')
script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBg5-SjIeZaV9G1fkZDtEtLRvin7AP-4-k')
script(src='js/index.js')



