doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Bous
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(rel='stylesheet', href='./css/index.css')
	body
		header
			div.container
				div.nav-wrapper
					div.logo
						img.left.responsive-img(src='img/logo.svg')
					div#nav-mobile.main-button.right.hide-on-med-and-down 
						a.waves-effect.waves-light.btn(href="#contact") Contacta un socio
		section.hero
			div.container
				div.slogan
					img.responsive-img(src="img/slogan.svg")
				//- div.title-box-lg
				//- 	span.title-size We do well,
				//- 	br
				//- 	span.title-size when u do well
				//- 	br
				//- 	div.main-button.center.hide-on-med-and-up
				//- 		a.waves-effect.waves-light.btn Contacta un socio

		section.features
			div.features_title
				.container
					p EXPERIENCIA
			div.container.imglg.hide-on-small-only
				img(src="img/features-lg.svg")
			div.container.imgsm.hide-on-med-and-up
				img(src="img/features-sm.svg" style="width:100%")


		section.services
			div.container 
				h4.underline ¿Qué podemos hacer por ti?
				div.service-list
					ul
						li
							img.responsive-img(src='img/num-01.svg')
							h5.title Financiamiento
								br
								span.sub público y privado 
						li
						
							img.responsive-img(src='img/num-02.svg')
							h5.title Levantamiento
								br
								span.sub de Capital
					ul
						li
							img.responsive-img(src='img/num-03.svg')
							h5.title Fusiones
								br
								span.sub y Adquisiciones
						li
							img.responsive-img(src='img/num-04.svg')
							h5.title Planes estratégicos
								br
								span.sub de crecimiento 
		section.map#map mapa

		footer.footer
			div.container
				div.flex
					div(style="display:flex;flex-flow:column;justify-content:space-between")
						div.brand-logo1
							img(src="img/LOGO BOUS FINAL.svg" style="width:8em")
							br
							img.responsive-img.footer-slogan(src="img/slogan.svg")
						div.hide-on-small-only
							h6 Términos y Privacidad
							h6 ©2017 BOUS 
					div
						form.forms#contact
							
							div.row
								div.input-field.col.s12
									input(type='text', name='nombre' placeholder="Nombre" required)

							div.row
								div.input-field.col.s12
									input(type='email', name='mail' placeholder="Email" required)
							div.row
								div.input-field.col.s12
									input(type='text', name='mensaje' placeholder="Mensaje" required)
							.progress
								.indeterminate
							button#enviar.btn.waves-effect.waves-light(type='submit', name='action' style="background-color:#e9004c")
								| Enviar
								i.material-icons.right send


					

		div.footer-img
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js')
	script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAI8ziDmHx8V9RXAgUuyaO0WicjvJ3gJZY&callback=initMap')
	script(src='index.js')
	script.
		function initMap() {
		var uluru = {lat: 19.4238286, lng: -99.1622945};
		var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 12,
		center: uluru
		});
		var contentString = '<div id="content">'+
		'<h4 id="firstHeading" class="firstHeading">BOUS</h4>'+
		'<div id="bodyContent">'+
		'<p><b>Córdoba 7, </b> Roma Norte, 06700 Ciudad de México.' +

		'</div>'+
		'</div>';
		var infowindow = new google.maps.InfoWindow({
		content: contentString
		});
		var marker = new google.maps.Marker({
		position: uluru,
		map: map,
		title: 'Uluru (Ayers Rock)'
		});
		marker.addListener('click', function() {
		infowindow.open(map, marker);
		});
		}
